* {
  background: rgb(213, 182, 223);
}

.overall{

  margin-left:320px;

}
.clocks{
  display:flex;
  gap: 16px;
  flex-wrap:wrap;
  
}
.timer1{
  
  font-size:larger;
  border: 5px solid red;
  display: inline-block;
  padding:45px;
  padding-top:0px;
  padding-bottom:15px;
  background: rgb(255,82,82);
  background: linear-gradient(90deg, rgb(255, 166, 166) 0%, rgba(255,151,151,1) 50%,rgb(255, 166, 166) 100%);

}
.timer1 div {
  background: none;
  
}

.sub1a{
  display: flex;
  font-size: 85px;
  color: rgb(155, 0, 0);
}  

.sub1b{

  margin-top:8px;
  
}

.sub1b button{
  background-color:rgb(249, 92, 92);
  border:2px solid rgb(232, 101, 101) ;
  padding: 4px;
  color:rgb(107, 4, 4);
  margin:2px;
  
}

.sub1b button:hover {
  background-color: #e13535; 
  cursor: pointer;
}
.button1b2{
  margin-left:4px;
  margin-right:4px;
}


.timer2{

  font-size:larger;
  border: 5px solid black;
  display: inline-block;
  background: rgba(130,116,116,1);
  padding:45px;
  padding-top:0px;
  padding-bottom:15px;

}
.timer2 div {
  background:none;
}

.sub2a{
  display: flex;
  font-size: 85px;
  color: rgb(0, 0, 0);

}

.sub2b button{
  background-color:rgb(168, 166, 166);
  border:2px solid rgb(148, 145, 145) ;
  padding: 4px;
  color:rgb(0, 0, 0);
  margin:2px;
  
}

.sub2b button:hover {
  background-color: #807c7c; 
  cursor: pointer;
}
.button3b2{
  margin-left:4px;
  margin-right:4px;
}



.timer3{

  font-size:larger;
  border: 5px solid green;
  display: inline-block;
  background: rgba(65,234,137,1);
  padding:45px;
  padding-top:0px;
  padding-bottom:15px;
  
}

.timer3 div{
  background: none;
}

.sub3a{
  display: flex;
  font-size: 85px;
  color: rgb(1, 90, 20);
}

.sub3b button{
  background-color:rgb(169, 211, 173);
  border:2px solid rgb(170, 235, 187) ;
  padding: 4px;
  color:rgb(0, 0, 0);
  margin:2px;
  
}

.sub3b button:hover {
  background-color: #8ac67b; 
  cursor: pointer;
}
.button3b2{
  margin-left:4px;
  margin-right:4px;
}

.timer4{
  font-size:larger;
  border: 5px solid white;
  display: inline-block;
  background: rgb(207, 207, 207);
  padding:45px;
  padding-top:0px;
  padding-bottom:15px;
}
.timer4 div{
  background: none;
}

.sub4a{
  display: flex;
  font-size: 85px;
  color: rgb(255, 255, 255);

}

.sub4b button{
  background-color:rgb(215, 215, 215);
  border:2px solid rgb(223, 223, 223) ;
  padding: 4px;
  color:rgb(0, 0, 0);
  margin:2px;
}

.button4b2{
  margin-left:4px;
  margin-right:4px;
}

.sub4b button:hover {
  background-color: #bebebe; 
  cursor: pointer;
}

.timer5{
  font-size:larger;
  border: 5px solid blue;
  display: inline-block;
  background:  rgba(121,164,255,1);
  padding:45px;
  padding-top:0px;
  padding-bottom:15px;
}

.timer5 div{
  background: none;
}
.sub5a{
  display: flex;
  font-size: 85px;
  color: rgb(41, 5, 142);
  

}

.sub5b button{
  background-color:rgb(152, 152, 248);
  border:2px solid rgb(183, 180, 246) ;
  padding: 4px;
  color:rgb(0, 0, 0);
  margin:2px;
}

.button5b2{
  margin-left:4px;
  margin-right:4px;
}

.sub5b button:hover {
  background-color: #8775fd; 
  cursor: pointer;
}


.main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
  gap: 15px; 
}
.main button{
  padding:15px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  background-color:rgb(216, 219, 132);
}
.main button:hover{
  cursor: pointer;
  background-color:rgb(182, 185, 76);
}